/* common style */
body {
    font-family: 'Open Sans', sans-serif;
}

/* common style */
.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 35px;
    border: 0;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 200px;

}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
}

/* Header style */
.banner {
    display: flex;
    padding: 30px 30px 30px 200px;
    align-items: center;
}

.banner img {
    width: 584px;
    height: 670px;
}